<section class='home-section'>
    <div>
        <h1>Technologies Used To Complete This Project Include:</h1>
        <br>
        <ol type='i'>
            <li>Angular 1.6</li>
            <li>Angular UI-Router</li>
            <li>Directives</li>    
            <li>$http</li>
            <li>$q</li>
            <li>CSS</li>
            <li>JSON</li>
        </ol>
    </div>
    <br>
    <br>
    <div>
        <h1>Developer of this site: Corey Harville</h1>
        <h2>Full Immersion Web Development Student</h2>
        <h3>DevMountain Coding Bootcamp</h3>
        <h4>Provo, Utah Campus</h4>
        <br>
        <h5>Please feel free to contact me with any additional questions, comments or concerns!</h5>
        <h6>Email: CoreyHarvilleWebDev@GMail.com</h6>
        <h7>Phone: 678-296-8401</h7>
        <br>
        <h8>
            <a class='contact-2' href='https://www.linkedin.com/in/corey-harville-90b76935'>Find Me via LinkedIn!</a>
        </h8>
    </div>

</section>