<section class='home-section'>
    <div>
        <h1>Technologies Used To Complete This Project Include:</h1>
        <br>
        <ol>
            <li class="test">Angular 1.6</li>
            <li>Angular UI-Router</li>
            <li>Directives</li>    
            <li>$http</li>
            <li>$q</li>
            <li>CSS</li>
            <li>JSON</li>
            <li>JQuery</li>
        </ol>
    </div>
    <br>
    <br>
    <div>
        <ul>
            <li>Developer of this site: Corey Harville</li>
            <li>Full Immersion Web Development Student</li>
            <li>DevMountain Coding Bootcamp</li>
            <li>Provo, Utah Campus</li>
            <br>
            <li>Please feel free to contact me with any additional questions, comments or concerns!</li>
            <li>Email: CoreyHarvilleWebDev@GMail.com</li>
            <li>Phone: 678-296-8401</li>
            <li>
                <a class='contact-2' href='https://www.linkedin.com/in/corey-harville-90b76935'>Find Me via LinkedIn!</a>
            </li>
        </ul>
    </div>

</section>