<section class='home-section'>
    <div>
        <p>Welcome to the world of Pokémon! Pokémon is a series of role-playing games, animated television shows and movies, comic books, toys and trading cards where you assume the role of a hero and set off on an exciting adventure with mysterious creatures called Pokémon! Humans, known as Pokémon Trainers, catch and train these Pokémon to battle each other for sport. Beyond the exciting story, the series contains many social features, such as trading and battling with friends!</p>
    </div>
    <br>
    <div>
        <p>This website will focus on the Original 25 Pokémon, the ones that started the entire phenomenon! The Pokémon franchise is now over two decades into existence with HUNDREDS of sprites in a huge database called the Pokédex. The information seen here for the Original 25 Pokémon sprites was gathered from the Pokédex along with a few other websites for your enjoyment!</p>
    </div>
    <br>
    <div>
        <p>To get started, please click the 'Search" link above to learn more about the Pokémon sprites!</p>
    </div>
</section>

<section class='trivia'>
    <h1>
        <div class='trivia-title'>Pokémon Trivia!!</div>
    </h1>
        <p>1. 'Pokémon'' is short for the original Japanese title of 'Pocket Monsters'.</p>
        <br>
        <p>2. The franchise was created by Satoshi Tajiri in 1995.</p>
        <br>
        <p>3. Pokémon is the second best-selling video game franchise, behind only Nintendo's Mario franchise and is one of the highest-grossing media franchises of all time.</p>
        <br>        
        <p>4. As of May 2016, the Pokémon franchise has grossed revenues of $46.2 billion US dollars!</p>
        <br>
        <p>5. The English slogan for the franchise is "Gotta Catch 'Em All!"</p>
</section>

<footer>
    <a href="http://127.0.0.1:8080/#!/about" class='contact' >Contact Information</a>
</footer>