<section class='home-section'>
    <h1>Search here for The Original 25 Pokémon!</h1>
    <h1>Search by the Pokémon ID (1 thru 25).</h1>
    <br>
    <div>
        <input class='inputBox' type='text' ng-model="indexNum" placeholder='Number 1-25'/>
        <button class='submitButton' type='submit' ng-click="getPokeData(indexNum)">Submit</button>
    </div>
    <div ng-show="loading">
        <img src="./images/RotatingPokeball.gif" alt="">
    </div>

    <section class='small-media-tag' ng-show='prop'>
        <section>
            <br>
            <div class='img-size'>
                <img ng-src="{{poke.image}}">
            </div>
            <br>
            <br>
            <span style='font-weight: bold'>Name:</span> {{poke.Name}}
            <br>
            <br>
            <span style='font-weight: bold'>National Pokedex ID:</span> {{poke.NationalPokedexID}}
            <br>
            <br>
            <span style='font-weight: bold'>Height:</span> {{poke.Height}} meters
            <br>
            <br>
            <span style='font-weight: bold'>Weight:</span> {{poke.Weight}} kg
            <br>
            <br>
            <span style='font-weight: bold'>Base Speed:</span> {{poke.BaseSpeed}}
            <br>
            <br>
            <span style='font-weight: bold'>Base Hit Points:</span> {{poke.BaseHitPoints}} hit points
            <br>
            <br>
            <span style='font-weight: bold'>Base Attack:</span> {{poke.BaseAttack}} hit points
            <br>
            <br>
            <span style='font-weight: bold'>Base Defense:</span> {{poke.BaseDefense}} hit points
            <br>
            <br>
            <span style='font-weight: bold'>Base Special Attack:</span> {{poke.BaseSpecialAttack}} hit points
            <br>
            <br>
            <span style='font-weight: bold'>Base Special Defense:</span> {{poke.BaseSpecialDefense}} hit points
            <br>
            <br>
            <span style='font-weight: bold'>Move 1:</span> {{poke.Move1}}
            <br>
            <br>
            <span style='font-weight: bold'>Move 2:</span> {{poke.Move2}}
            <br>
            <br>
            <span style='font-weight: bold'>Move 3:</span> {{poke.Move3}}
            <br>
            <br>
            <section class='arrows'>
                <div style='padding-right: 50px' ng-click='back()'>PREVIOUS <</div>
                <div style='padding-left: 50px' ng-click='next()'>> NEXT</div>
            </section>
        </section>
    </section>
</section>

<footer>
    <a href="http://127.0.0.1:8080/#!/about" class='contact' >Contact Information</a>
</footer>
